@charset "UTF-8";
@media screen and (max-width: 1440px) {
  .header {
    font-family: 'Titillium Web', sans-serif;
    background-color: #87509c;
    height: 596px; }
  a {
    font-family: 'TitilliumWeb',sans-serif;
    color: #ffffff;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 18px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left; } }

.banner-logo {
  width: 117px;
  height: 37px; }

.logo {
  width: 117px;
  height: 37px; }
