@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Titillium Web', sans-serif;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  background-color: #87509c;
  width: 100%;
  height: 596px; }

/*Navigation*/
.nav li {
  width: auto;
  position: relative;
  float: left;
  padding: 1.5%;
  top: 20px;
  left: 60%; }

.nav li a:hover {
  border-radius: 4px;
  background-color: #643a79; }

.nav li a {
  color: white;
  font-size: 16px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400; }

/*Navigation*/
/*LOGO*/
.header-logo {
  position: absolute;
  float: left;
  top: 5%;
  left: 15%; }

/*LOGO*/
/*Text header*/
.banner-text {
  display: block;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff; }

.banner-text h1 {
  font-weight: 700;
  text-align: center;
  padding: 200px 0 110px; }

/*Text header*/
/*Button header */
.banner-button {
  position: relative;
  border-radius: 4px;
  background-color: #eb7d4b;
  color: #ffffff;
  width: 293px;
  height: 70px;
  line-height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400; }

/*Button header */
/*main services*/
.services {
  display: block;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #17c2a4;
  width: 100%;
  height: 747px; }

.services-text {
  color: #ffffff;
  text-align: center; }

.services-text h6 {
  font-size: 40px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 29.907px;
  /* Приближение из-за подстановки шрифтов */
  position: relative;
  top: 100px; }

.services-text p {
  position: relative;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 26px;
  /* Приближение из-за подстановки шрифтов */
  top: 160px; }

.items {
  position: relative;
  top: 30%;
  text-align: center;
  color: #ffffff; }

.items p {
  text-align: center;
  width: 192px;
  top: 200px;
  padding: 40px; }

.img {
  padding: 1%;
  display: inline-block; }

.img img {
  position: relative;
  left: 8px;
  bottom: 18px; }

.img h1 {
  font-size: 24px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 18px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
  padding: 1%; }

.team {
  background-color: #E7F1F8;
  width: 100%;
  height: 915px; }

.team-header h1 {
  position: relative;
  color: #3c4661;
  font-size: 40px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 29.907px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
  -ms-transform: scaleY(1.0321);
      transform: scaleY(1.0321);
  /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
  top: 100px; }

.team-line {
  text-align: center;
  position: relative;
  background-color: rgba(189, 209, 223, 0.75);
  width: 87px;
  height: 6px;
  top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.team-header p {
  position: relative;
  color: #3c4661;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 26px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
  -ms-transform: scaleY(1.0321);
      transform: scaleY(1.0321);
  /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
  top: 150px; }

.team-items {
  position: relative;
  top: 25%;
  text-align: center;
  color: #3c4761; }

.team-img {
  padding: 2%;
  display: inline-block;
  text-align: center;
  color: #3c4761;
  width: 196px;
  height: 112px; }

.team-img img {
  position: relative;
  bottom: 18px; }

.team-img h1 {
  font-size: 24px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 18px;
  /* Приближение из-за подстановки шрифтов */
  padding: 1%; }

.icon {
  padding: 2%;
  text-align: center;
  top: 10%;
  float: left; }

/*skills*/
.skills {
  background-color: #ffffff;
  width: auto;
  height: 655px; }

.skills-img {
  padding: 2%;
  display: inline-block;
  text-align: center;
  color: #3c4761;
  width: 196px;
  height: 112px; }

.skills-img h1 {
  padding: 10%; }

.portfolio {
  background-color: #ffdd99;
  width: auto;
  height: 1423px;
  color: #393939; }

.portfolio-header h1 {
  position: relative;
  color: #393939;
  font-size: 40px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 29.907px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
  -ms-transform: scaleY(1.0321);
      transform: scaleY(1.0321);
  /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
  top: 100px; }

.portfolio-header p {
  position: relative;
  color: #393939;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 26px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
  -ms-transform: scaleY(1.0321);
      transform: scaleY(1.0321);
  /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
  top: 150px; }

.wrap-portfolio {
  float: left;
  position: relative; }

.portfolio-img {
  padding: 2%;
  float: left;
  text-align: center;
  color: #3c4761; }

.portfolio-img img {
  position: relative;
  left: 25%; }

.portfolio-img p {
  position: relative;
  left: 25%; }

.wrap {
  float: left;
  position: relative;
  left: 50%; }

.chosen li {
  background-color: wheat; }

.portfolio-content li {
  top: 200px;
  margin-right: 10px;
  float: left;
  position: relative;
  text-align: center;
  left: -50%;
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.08);
  width: 50px; }

.portfolio-items li {
  top: 300px;
  margin-right: auto;
  margin-left: auto;
  float: left;
  position: relative;
  text-align: center;
  padding: 10px; }

.portfolio-button {
  position: relative;
  border-radius: 4px;
  background-color: #17c2a4;
  width: 293px;
  height: 70px;
  line-height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 1200px;
  text-align: center;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  padding: 10; }

.about {
  background-color: #d74680;
  width: auto;
  height: 895px;
  color: white; }

.feedback {
  text-align: center;
  position: relative;
  display: block;
  width: 450px;
  height: 150px;
  padding-bottom: 150px;
  left: 10%;
  bottom: 40px;
  float: left; }

.text-feed p {
  position: relative;
  left: 250px;
  top: -130px;
  font-family: 'TitilliumWeb';
  color: #ffffff;
  font-size: 21px;
  /* Приближение из-за подстановки шрифтов */
  font-style: italic;
  line-height: 26px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left; }

.text-feed h1 {
  text-align: center;
  position: relative;
  left: 135px;
  top: -140px;
  font-size: 24px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700; }

.text-feed h2 {
  text-align: center;
  position: relative;
  left: 125px;
  top: -120px;
  color: #ffdd99;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 26px;
  /* Приближение из-за подстановки шрифтов */ }

.contact {
  background-color: #3c5499;
  width: auto;
  height: 819px; }

.form {
  float: left;
  position: relative;
  text-align: center;
  top: 30%; }

.name {
  background-color: #273a71;
  width: 414px;
  height: 56px;
  color: white;
  padding-left: 15px;
  margin-right: 25px;
  margin-bottom: 50px; }

input {
  border: 1px;
  border-color: #273a71; }

.email {
  background-color: #273a71;
  width: 414px;
  height: 56px;
  color: white;
  padding-left: 15px; }

.message {
  background-color: #273a71;
  width: 860px;
  height: 200px;
  color: white;
  padding-left: 15px; }

.message:-ms-input-placeholder {
  text-align: left; }

.message::placeholder {
  text-align: left; }

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */ }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */ }

.footer {
  background-color: #344b8e;
  width: auto;
  height: 112px; }

.box_block {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  text-align: center; }

.box_block li {
  list-style: none;
  display: inline;
  margin-right: 10px;
  position: relative;
  text-align: center;
  margin-left: auto;
  border-radius: 4px;
  left: auto; }

.box_block li > a {
  color: #ffffff;
  font-size: 24px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 600;
  line-height: 29.907px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center; }

  @media only screen and (max-width: 600px) {
    .body {
        color: #273a71;
    }
}