@charset "UTF-8";
body {
  width: auto;
  height: 2046px;
  background: url("../img/bg.png"); }

.logic {
  padding-left: 25px;
  position: relative;
  top: -17px; }

.header-nav {
  height: 66px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 59px;
  max-width: 998px;
  min-width: 998px;
  margin-left: auto;
  margin-right: auto; }

.navigaton {
  height: 13px;
  position: relative;
  right: 34px;
  bottom: 5px; }

.navigaton a {
  padding-left: 11px;
  font-family: Arial;
  color: #3c3c3c;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.26px;
  text-align: right; }

.outer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.submenu-first {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  background-color: black;
  padding: 9px; }

.submenu-first > li > a {
  color: #9ca0a2; }

.main {
  max-width: 979px;
  min-width: 979px;
  margin-left: auto;
  margin-right: auto; }

.main_header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  background-color: #ae3b44;
  font-family: Arial;
  max-width: 980px;
  height: 128px;
  border-top: 7px solid  #3c3c3c;
  margin-bottom: 30px; }

.heading_main {
  padding-left: 35px;
  padding-top: 20px;
  font-family: Arial;
  color: #edf2f5;
  font-size: 24px;
  letter-spacing: -1.2px;
  text-align: left;
  line-height: 28px;
  width: 240px; }

.heading_main h1 {
  font-weight: normal; }

.text_main {
  padding-left: 15px;
  padding-top: 20px;
  color: black;
  text-align: left;
  line-height: 20.169px;
  width: 500px;
  font-size: 12px; }

.main-content {
  display: -ms-flexbox;
  display: flex;
  height: auto;
  border-bottom: 1px solid  #E8E9E9;
  margin-bottom: 20px; }

.left-nav {
  padding-top: 10px;
  width: 35%;
  height: 1478px; }

.left-nav-head {
  font-size: 18px;
  color: #212121;
  line-height: 40px;
  text-indent: 12px;
  background: url("../img/line(1).png"); }

.left-nav-nav {
  font-size: 12px; }

.left-nav-nav ul li {
  text-indent: 15px;
  line-height: 39px;
  border-bottom: 1px solid #ccc; }

.left-nav-nav ul li:hover {
  color: #ae3b44; }

.left-nav-nav ul li .crm-class li {
  text-indent: 25px;
  background-color: #9ca0a2;
  border-bottom: 1px solid  #E8E9E9; }

.left-nav-nav ul li .crm-class li .email-class li {
  text-indent: 35px;
  background-color: #ccc;
  border-bottom: 1px solid  #E8E9E9; }

/*******************************************/
.right-content {
  width: 100%;
  height: auto;
  border-left: 1px solid  #E8E9E9;
  padding-left: 33px; }

.content-heading {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border-bottom: 1px solid  #E8E9E9;
  margin-bottom: 19px; }

.content-heading h3 {
  font-weight: normal;
  font-family: Arial;
  color: #212121;
  font-size: 24px;
  text-transform: capitalize;
  line-height: 30px;
  word-spacing: -4px;
  width: 61%; }

.date {
  width: 79px;
  height: 79px;
  background: url("../img/lines_date.png");
  font-size: 10px;
  text-align: center;
  color: rgba(147, 151, 153, 0.5); }

.date span {
  line-height: 42px;
  font-family: Arial;
  font-size: 17.02px;
  font-weight: 700;
  letter-spacing: -0.425px;
  text-align: center; }

/*************************************************/
.content-intro {
  font-family: Arial;
  color: #909293;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  padding-right: 15px;
  border-bottom: 1px solid  #E8E9E9;
  padding-bottom: 26px;
  margin-bottom: 28px; }

.article {
  padding-right: 22px; }

.article h4 {
  margin-bottom: 20px;
  font-weight: normal;
  color: #ae3b44;
  font-size: 15px; }

.article p {
  font-family: Arial;
  color: #3c3c3c;
  font-size: 11.98px;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.016em;
  line-height: 18.9px; }

.par-one {
  margin-bottom: 40px; }

.article-main-img {
  text-align: center;
  padding-right: 14px;
  margin-bottom: 50px; }

.arm-img {
  float: left;
  /* Выравнивание по левому краю */
  margin: 32px 32px 28px 1px;
  /* Отступы вокруг картинки */
  border-bottom: 7px solid  #3c3c3c; }

.par-two {
  margin-bottom: 30px; }

.article-main {
  margin-bottom: 30px;
  border-bottom: 1px solid  #E8E9E9; }

.article-footer {
  padding-bottom: 10px;
  border-bottom: 1px solid  #E8E9E9;
  margin-bottom: 40px; }

.article-footer h4 {
  margin-bottom: 20px;
  font-weight: normal;
  color: #ae3b44;
  font-size: 15px; }

.article-footer p {
  font-family: Arial;
  color: #3c3c3c;
  font-size: 11.98px;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.051px;
  line-height: 18.9px; }

.buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.buttons a {
  text-decoration: none;
  color: #ae3b44; }

/**********************************************/
.sponsors {
  display: -ms-flexbox;
  display: flex;
  padding-left: 33px;
  padding-right: 40px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 30px; }

.sponsor-image {
  background: url("../img/sponsors.png");
  width: 100%;
  height: 50px; }

.sponsor-image:first-child {
  width: 100px;
  height: 46px; }

.sponsor-image:nth-child(2) {
  width: 105px;
  height: 46px;
  background-position: -167px 0px; }

.sponsor-image:nth-child(3) {
  width: 100px;
  height: 46px;
  background-position: -325px 0px; }

.sponsor-image:nth-child(4) {
  width: 100px;
  height: 46px;
  background-position: -500px 0px; }

.sponsor-image:nth-child(5) {
  width: 100px;
  height: 46px;
  background-position: -662px 0px; }

.sponsor-image:nth-child(6) {
  width: 100px;
  height: 46px;
  background-position: -806px 0px; }

/***************************/
.footer {
  padding-top: 20px;
  border-top: 1px solid  #E8E9E9;
  font-family: Arial;
  color: rgba(57, 57, 57, 0.5);
  font-weight: normal; }

.footer-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-width: 998px;
  min-width: 998px;
  margin-left: auto;
  margin-right: auto; }

.quicklinks {
  font-weight: normal;
  font-size: 12px;
  padding-left: 27px; }

.quicklinks h3 {
  font-size: 15px;
  margin-bottom: 27px; }

.quick-uls {
  display: -ms-flexbox;
  display: flex; }

.quick-uls ul {
  padding-right: 75px; }

.quick-uls ul:nth-child(3) {
  padding-right: 0px; }

.quick-uls li {
  padding-bottom: 7px; }

.security {
  font-weight: 100;
  font-size: 12px;
  padding-left: -27px; }

.security h3 {
  font-size: 15px;
  margin-bottom: 27px; }

.security li {
  padding-bottom: 7px; }

.security h3 {
  font-size: 15px;
  margin-bottom: 27px; }

.security li {
  padding-bottom: 7px; }

.touch h3 {
  margin-bottom: 20px; }

.touch ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10px; }

.touch i {
  color: grey; }

.touch > ul > li > a > .fa-rss-square:hover {
  color: #F79236; }

.touch > ul > li > a > .fa-facebook:hover {
  color: #46639E; }

.touch > ul > li > a > .fa-linkedin:hover {
  color: #8AD4DF; }

.touch > ul > li > a > .fa-tumblr-square:hover {
  color: #33455C; }
