nav {
    width: 52%;
}
nav ul {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  

nav ul li {
    position: relative;
}
nav ul a {
    color: #3c3c3c;
    font-size: 13px;
    transition: .3s linear;
}
a {
    display: inline-block;
}
nav ul li:hover .submenu {
    transform: rotateX(0deg) translate(-48%,8%);
    z-index: 9;
}

nav ul li li:hover .under-submenu {
    transform: rotateX(0deg) translate(1%);
}

nav ul li .submenu::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #212121;
}
 .under-submenu::before {
    content: "";
    position: absolute;
    bottom: 90%;
    left: -2%;
    width: 2;
    height: 0;
    border: 5px solid transparent;
    transform: rotate(90deg);
    border-bottom-color: #212121;
}
nav ul li .submenu {
    width: 150px;
    display: block;
    transform-origin: 0 0 0;
    transform: rotateX(-90deg) translate(-48%,8%);
    transition: .3s linear;
    position: absolute;
    top: 100%;
    left: 50%;
    background: #212121;
}

nav ul li li a {
    color: #E5EDF0;
}

nav ul li .submenu li a {
    text-indent: 11px;
    font-size: 12px;
    padding: 0;
    line-height: 29px;
    color: #E5EDF0;
}


nav ul li .submenu .under-submenu {
    width: 140px;
    display: block;
    transform-origin: 0 0 0;
    transform: rotateY(-90deg) translate(1%);
    transition: .3s linear;
    position: absolute;
    left: 152px;
    top: 0;
    background: #212121;
}
/*********************/
body {
    width: auto;
    height: 2046px; 
    // background-color: bisque;
    background: url("../img/bg.png");
}

.logic {
    // padding-left: 15px;
}
 
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0;
    max-width: 979px;
    min-width: 979px;
    margin-left: auto;
    margin-right: auto;
}

.navigaton {
    height: 13px;
    position: relative;
    right: 34px;
    bottom: 5px;
}

.navigaton li {
    padding: 0 8px;
}

.navigaton a{
    padding:0 5px;
    font-family: Arial;
    color: #3c3c3c;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.26px;
    text-align: right;
}

.navigaton a:hover {
    color: #ae3b44;
}

.outer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submenu-first {
    display: none;
}

.outer-li-5:hover {
    margin-bottom: 10px;
    .submenu-first {
        display: flex;
        padding-top: 10px;
        flex-direction: column;
        justify-content: flex-start;
        background-color: black;
        padding: 9px;
    }    
}


.submenu-second {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: black;
        padding: 9px;
}

.arrows {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    
}

.arrows span {
    cursor: pointer;
    margin: 0 5px;
}

.submenu-first>li>a {
    color: #9ca0a2;
}

.main {
    max-width: 979px;
    min-width: 979px;
    margin-left: auto;
    margin-right: auto;
}
.main_header {
    display: flex;
    flex-direction: row;
    background-color: #ae3b44;
    font-family: Arial;
    max-width: 979px;
    height: 128px;
    border-top: 7px solid  #3c3c3c;
}


.heading_main {
    padding-left: 35px;
    padding-top: 20px;
    font-family: Arial;
    color: #edf2f5;
    font-size: 24px;
    letter-spacing: -1.2px;
    text-align: left;
    line-height: 28px;
    width: 240px;
}

.heading_main h1{
    font-weight: normal;
}
.text_main {
    padding-left: 15px;
    padding-top: 20px;
    color: black;
    text-align: left;
    line-height: 20.169px;;
    width: 500px;
    font-size: 12px;
}

.text_main p {
    margin-bottom: 10px;
}

.active {
    background: #ae3b44;
    color: #212121;
}

.main-content {
    display: flex;
    height: auto;        
    border-bottom: 1px solid  #E8E9E9;
    margin-bottom: 20px;
}
.left-nav {
    padding-top: 30px;
    width: 35%;
    height: 1445px;
}


.left-nav h1{
    font-size: 18px;
    color: #212121;
    line-height: 40px;
    text-indent: 12px;
    background: url("../img/line(1).png");
    font-weight: 400;
}

.left-nav-nav {
    font-size: 12px;
}
.left-nav-nav ul li{
        text-indent: 15px;
        line-height: 39.8px;
        border-bottom: 1px solid #ccc;
}
.left-nav-nav ul li p:hover{
    color: #ae3b44;
}

.left-nav-nav ul li .crm-class li {
    text-indent: 37px;
    background-color: #9ca0a2;
    border-bottom: 1px solid  #E8E9E9;
    line-height: 39px;
}

// .crm-class li p:hover {
//     color: red;
// }

.left-nav-nav ul li .crm-class li .email-class li{
    background-color: #ccc;
    border-bottom: 1px solid  #E8E9E9;
}

/*******************************************/
.right-content {
    width: 100%;
    height: auto;
    // background: yellow;
    border-left: 1px solid  #E8E9E9;
    padding-left: 33px;
}

.content-heading {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid  #E8E9E9;
}

.content-heading h3 {
    font-weight: normal;    
    font-family: Arial;
    color: #212121;
    font-size: 24px;
    text-transform: capitalize;
    line-height: 30px;
    word-spacing: -4px;
    width: 61%;
}

.date {
    width: 79px;
    height: 79px;
    background: url("../img/lines_date.png");
    font-size: 10px;
    text-align: center;
    color: rgba(147, 151, 153, 0.5);
}

.date span {
    line-height: 42px;
    font-family: Arial;
    font-size: 17.02px;
    font-weight: 700;
    letter-spacing: -0.425px;
    text-align: center;
}

/*************************************************/
.content-intro {
    font-family: Arial;
    color: #909293;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    padding-right: 15px;
    border-bottom: 1px solid  #E8E9E9;
    padding: 25px 0;
    
}

.article {
    padding: 22px 22px 22px 0;
}
.article h4 {
    margin-bottom: 20px;    
    font-weight: normal;    
    color: #ae3b44;
    font-size: 15px;
}

.article p {
    font-family: Arial;
    color: #3c3c3c;
    font-size: 11.98px;
    font-weight: 400;
    text-align: left;
    // text-indent: -9px;
    letter-spacing: -0.016em;
    line-height: 18.9px;
}
.par-one {
    margin-bottom: 40px;
}

.article-main-img{
    text-align: center;
    margin-bottom: 50px;   
}

.arm-img {
    float:left; /* Выравнивание по левому краю */
    margin: 32px 32px 28px 1px; /* Отступы вокруг картинки */
    border-bottom: 7px solid  #3c3c3c;
   }

.article-main {
    border-bottom: 1px solid  #E8E9E9;
    padding-bottom: 35px;
}

.article-footer {
    // background: #ae3b44;
    padding: 25px 0;
    border-bottom: 1px solid  #E8E9E9;
}

.article-footer h4 {
    margin-bottom: 20px;
    font-weight: normal;    
    color: #ae3b44;
    font-size: 15px;
}

.article-footer p {
    font-family: Arial;
    color: #3c3c3c;
    font-size: 11.98px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.051px;
    line-height: 18.9px;
}

.buttons {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    
}
.buttons a {
    text-decoration: none;
    color: #ae3b44;
}

/**********************************************/
.sponsors {
    display: flex;
    padding-left: 33px;
    padding-right: 40px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.sponsor-image {
    background: url("../img/sponsors.png");
    width: 100%;
    height: 50px;
}

.sponsor-image:first-child {
    width: 100px;   
    height: 46px;
    opacity: 0.6;
}
.sponsor-image:nth-child(1):hover {
    opacity: 1;
    cursor: pointer;
}

.sponsor-image:nth-child(2) {
    width: 105px;
    height: 46px;
    background-position: -167px 0px;
    opacity: 0.6;
}
.sponsor-image:nth-child(2):hover {
    opacity: 1;
    cursor: pointer;
}

.sponsor-image:nth-child(3) {
    opacity: 0.6;
    width: 100px;
    height: 46px;
    background-position: -325px 0px;
}
.sponsor-image:nth-child(3):hover {
    opacity: 1;
    cursor: pointer;
}
.sponsor-image:nth-child(4) {
    opacity: 0.6;
    width: 100px;
    height: 46px;
    background-position: -500px 0px;
}
.sponsor-image:nth-child(4):hover {
    opacity: 1;
    cursor: pointer;
}
.sponsor-image:nth-child(5) {
    opacity: 0.6;
    width: 100px;
    height: 46px;
    background-position: -662px 0px;
}
.sponsor-image:nth-child(5):hover {
    opacity: 1;
    cursor: pointer;
}
.sponsor-image:nth-child(6) {
    opacity: 0.6;
    width: 100px;
    height: 46px;
    background-position: -806px 0px;
}
.sponsor-image:nth-child(6):hover {
    opacity: 1;
    cursor: pointer;
}
/***************************/

.footer {
    padding-top: 20px;
    border-top: 1px solid  #E8E9E9;
    font-family: Arial;
    color: rgba(57, 57, 57, 0.5);
    font-weight: normal;
}

.footer-main{
    display: flex;
    justify-content: space-between;
    max-width: 979px;
    min-width: 979px;
    margin-left: auto;
    margin-right: auto;
}

.quicklinks {
    font-weight: 400;
    font-size: 12px;
}

.quicklinks h3{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 27px;
}

.quick-uls {
    display: flex;
}

.quick-uls ul {
    padding-right: 75px;
}
.quick-uls ul:nth-child(3) {
    padding-right: 0px;
}

.quick-uls li {
    padding-bottom: 7px;
}

.quick-uls li:hover {
    color: #ae3b44;
}

.security {
    font-size: 12px;
    padding-left: -27px;
    position: relative;
    right: 5%;
}

.security h3{
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 27px;
}

.security li {
    padding-bottom: 7px;
}


.security li:hover {
    color: #ae3b44;
}
.security h3{
    font-size: 15px;
    margin-bottom: 27px;
}

.security li {
    padding-bottom: 7px;
}

.touch {
    position: relative;
    right: 8%;
}

.touch h3 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}
.touch ul{
    display: flex;
    justify-content: space-around;
    margin-bottom: 19px;
}
.touch i{
    color: grey;
}

.touch p {
    font-size: 10.99px;
}

.touch>ul>li>a>.fa-rss-square:hover {
    color: #F79236;
}

.touch>ul>li>a>.fa-facebook:hover {
    color: #46639E;
}

.touch>ul>li>a>.fa-linkedin:hover {
    color: #8AD4DF;
}

.touch>ul>li>a>.fa-tumblr-square:hover {
    color: #33455C;
}


////
.flexit {
    display: flex;
}
.sidebar-right {
    position: relative;
    left: 100px;
}
.sidebar-left {
    position: relative;
    right: 10px;
}

.sidebar-right-under {
    position: relative;
    left: 82px;
}

.email-class li {
    display: flex;
}

.email-class i {
    padding-top: 13px;
}