// //----------------------------------*\
// // SCSS MIXINS
// //----------------------------------*/

// @import 'mixins/_position.scss';

// //----------------------------------*\
// // CONFIG MODULES
// //----------------------------------*/

// // Config modules
// @import 'modules/_vars.scss';
// @import 'modules/_clearfix.scss';
// @import 'modules/_defaults.scss';
// @import 'modules/_normalize.scss';
// //----------------------------------*\
// // PARTIALS
// //----------------------------------*/

// @import 'partials/_header.scss';
// @import 'partials/_nav.scss';
// @import 'partials/_sidebar.scss';
// @import 'partials/_main.scss';
// @import 'partials/_footer.scss';

// //----------------------------------*\
// // OBJECTS & MODULES
// //----------------------------------*/

// // @import 'modules/_buttons.scss';
// // @import 'modules/_inputs.scss';
// // @import 'modules/_lists.scss';
// // @import 'modules/_typography.scss';
// // @import 'modules/_misc.scss';
// // @import 'modules/_app.scss';

// // Enhancement modules
// @import 'modules/_breakpoints.scss';
// @import 'modules/_print.scss';

// //----------------------------------*\
// // VENDOR
// //----------------------------------*/

// @import 'vendor/_external.scss';
@media screen and (max-width:1440px){
    .header {
        font-family: 'Titillium Web', sans-serif;
        background-color:#87509c;
        height: 596px;
    }
    a {
        font-family: 'TitilliumWeb',sans-serif;
        color: #ffffff;
        font-size: 16px;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 18px;/* Приближение из-за подстановки шрифтов */
        text-align: left;
    }
}


.banner-logo {
width: 117px;
height: 37px;
}
.logo {
    width: 117px;
    height: 37px;
}